<div class="todo-container">
  <div class="todos">
    <input
      style="margin-bottom:12px"
      id="checkbox"
      type="checkbox"
      checked={{todo.status}}
      onclick={{action "Changestatus" todo preventDefault=false}}
    />
    <p id="todo_text">
      {{todo.todo_text}}
      <span style="color:rgba(157, 39, 39, 0.759)">{{todo.due_date}}</span></p>
    <button id="delete_todo" {{action "DeleteTodo" todo}}>
        Delete
    </button>
  </div>
</div>
{{yield}}